<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign In</title>
  </head>
  <body>
    <form method="POST" action="/users/createuser">
      <h1>Sign up!</h1>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username"/>
      <label for="password">Password:</label>
      <input type="text" name="password" id="password"/>
      <input type="submit"/>
    </form>
  </body>
</html>